.PadWrapper {
	margin: 20px;
}

.Pad {
	border: 3px solid;
	height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 10px;
	border-radius: 6px;
	color: white;
}

div > div.PadContainer > div > .title {
	color: white;
}