.App {
	border: 2px solid red;
	background-color: #383f40;
	border-radius: 6px;
	display: grid;
	grid-template-columns: 20px 300px 600px 20px;
	grid-template-rows: 150px 1fr;
}

.header {
	color: white;
	font-family: 'Creepster', cursive;
	display: flex;
	grid-column: 2;
	font-size: 24px;
}